header div.inner div.bottomBlock ul.menuList li:last-child {
  border-left: 2px solid #e6e6e6;
}

header div.inner div.bottomBlock ul.menuList li:last-child a {
  color: #000;
  background: none;
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  #wrap {
    min-width: 0;
  }

  .burger {
    position: relative;
    z-index: 3;
    display: flex;
    width: 30px;
    height: 24px;
  }

  .burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #222;
    border-radius: 1.5px;
    transition: 0.3s;
  }

  .burger.open span {
    background-color: #fff;
  }

  .burger span:nth-child(1) {
    top: 0;
  }

  .burger span:nth-child(2) {
    top: 11px;
  }

  .burger span:nth-child(3) {
    top: 22px;
  }

  .burger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(9px) translateX(0);
  }

  .burger.open span:nth-child(2) {
    transform: rotate(-45deg) translateY(-8px) translateX(-1px);
  }

  .burger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-16px) translateX(6px);
  }

  header {
    height: 50px;
    border: none;
  }

  header div.inner {
    width: auto;
    padding: 0 15px;
  }

  header div.inner div.aboveBlock {
    display: none;
  }

  header div.inner div.bottomBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header div.inner div.bottomBlock h1,
  header div.inner div.bottomBlock p.siteTitle {
    float: none;
    width: 123px;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  header div.inner div.bottomBlock ul.menuList {
    position: fixed;
    display: flex;
    float: none;
    width: auto;
    transform: translateY(-100%);
  }
}
